* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2B2B2B;
    font-family: sans-serif;
}

.mainContainer {
    display: flex;
}

.navBar {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1em;
    color: #f1f1f1;
    position: fixed;
    height: 100vh;
    width: 4%;
    box-shadow: 17px 0px 12px -14px rgba(0, 0, 0, 0.4);
    z-index: 999;
    transition: .4s;
    position: fixed;
}

nav {
    margin: 10px 0;
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-start;
    position: fixed;
    height: 100vh;
    width: 14%;
    left: 4%;
    padding: 20px 30px;
    box-shadow: 17px 0px 12px -14px rgba(0, 0, 0, 0.4);
    z-index: 800;
    transition: .4s;

}

.buscador {
    padding: .6em;
    background-color: #2B2B2B;
    border-bottom: #f1f1f199 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    border-radius: 2px;
    color: #f1f1f1;
}

.movie-options {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.options-item {
    font-size: 1.2em;
}

.fa-caret-down {
    color: #f1f1f199;
    margin-right: 10px;
    font-size: .8em;
    
}

.options-item a {
    color: #f1f1f199;
    text-decoration: none;
}

.dropdown-menu {
    list-style: none;
    display: none;
}

.show {
    display: block;
}

.dropdown-menu li {
    color: #f1f1f199;
    font-size: .9em;
    margin: 12px 0 12px 16px;
    cursor: pointer;
}

.pageTitle a {
    color: #B73E3E;
    text-decoration: none;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.options, .userContainer, .settingsContainer {
    text-decoration: none;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
    cursor: pointer;
}

.fa-bars, .fa-user {
    color: #f1f1f1;
    font-size: 20px;
    background-color: #B73E3E;
    padding: 10px 12px;
    border-radius: 50%;
    display: inline;
}

.topOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bottomOptions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-gear {
    font-size: 30px;
    color: #f1f1f1;
    margin: 10px auto;
}
.spanTitle {
    font-size: 20px;
    display: none;
}
.navFullWidth {
    display: none;
    font-size: 18px;
}

.container {
    width: 42%;
    padding: 20px 30px;
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    position: absolute;
    left: 18%;
    box-shadow: 17px 0px 12px -14px rgba(0, 0, 0, 0.4);
    z-index: 700;
    transition: .5s;
}

.movieContainer {
    max-width: 220px;
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    flex-grow: 1;
}

.movieContainer:hover {
    transform: scale(1.05);
    transition-duration: .2s;
}

.movieImage {
    width: 100%;
    border-radius: 6px;
    margin: 0 auto;

}

.movieTitle {
    margin: 0;
    font-size: 1.2em;
    color: #f1f1f1;
    padding: .6em 0;
}

.movieDescription {
    margin: 0;
    font-size: .95em;
    color: #f1f1f199;
}

.filter {
    display: none;
}

/* ------- Events ------ */

.hoverEffect {
    cursor: pointer;
}

/*-------- Modal --------*/

.modal {
    height: 100vh;
    width: 60%;
    display: flex;
    left: 50%;
    position: fixed;
    transition: .5s;
}


.fa-x {
    color: #2B2B2B;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 900;
    font-size: 1.4em;
    cursor: pointer;
    margin: 0;
    right: 10px;
    top: 10px;
}

.modalContainer {
    display: flex;
    flex-direction: column;
}

.modalImage {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    z-index: 500;
    position: absolute;
}

.modalInfoContainer {
    padding: 0 30px;
    background: rgb(43, 43, 43);
    background: linear-gradient(0deg, rgba(43, 43, 43, 1) 79%, rgba(255, 255, 255, 0) 100%);
    color: #f1f1f1;
    margin: 0;
    z-index: 600;
    position: relative;
    top: 45vh;
}

.modalTitle {
    font-size: 3.5em;
    margin: .5em auto;
}

.modalDescription {
    font-size: 1em;
}

.modalFooter {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.commands {
    display: flex;
    gap: 1em;
}

.play, .addToList, .like {
    border: solid 2px #f1f1f199;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play:hover,
.addToList:hover,
.like:hover {
    transform: scale(1.3);
    transition-duration: .2s;
}

.fa-plus,
.fa-play,
.fa-heart {
    color: #f1f1f199;
}


.fa-play {
    font-size: .8em;
}

.ratings {
    display: flex;
    align-items: center;
    gap: .5em;
}

.starsOuter {
    position: relative;
    display: inline-block;
}

.starsInner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.starsOuter::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 100;
    color: #f1f1f199;
}

.starsInner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f1f1f1;
}

.numberRating {
    color: #f1f1f199;
}